<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_style.css') }}">
</head>
<body>
    {% include 'flash_messages.html' %}
    {% block content %}{% endblock %}
    <div class="login-container">
        <img src="static/images/logo.png" alt="Logo">
        <form action="{{ url_for('auth.login') }}" method="post">
            <input type="email" name="email" placeholder="email@ejemplo.com" required>
            <input type="password" name="password" placeholder="**********" required>
            <button type="submit" class="login-button">Iniciar sesión</button>
        </form>
        <form action="{{ url_for('auth.register_view') }}" method="get">
            <button type="submit" class="register-button">¿No tienes cuenta? Haz clic aquí</button>
        </form>
        <a href="#">Olvidé mi contraseña</a>
    </div>
</body>
</html>
