<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>
<body>
    {% include 'flash_messages.html' %}
    {% block content %}{% endblock %}
    <div class="login-container">
        <div id="loading-spinner" class="loading-spinner" style="display: none;">
            <div class="spinner"></div>
        </div>
        <img src="../static/images/logo.png" alt="Logo">
        <form id="resetPasswordForm" action="{{ url_for('auth.reset_password_process') }}" method="post">
            <h3 style="text-align: left;">Recuperar contraseña</h3><br>
            <div class="form-group">
                <label for="password">Ingrese nueva contraseña:</label>
                <input type="password" id="password" name="password" placeholder="**********" required>
            </div>
            <div class="form-group">
                <label for="password_review">Ingrese contraseña nuevamente:</label>
                <input type="password" id="password_review" name="password_review" placeholder="**********" required>
            </div>
            <button type="submit" class="login-button">Cambiar contraseña</button>
        </form>
    </div>
    <script>
        const form = document.getElementById('resetPasswordForm');
        const spinner = document.getElementById('loading-spinner');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity()) {
                spinner.style.display = 'block';
            } else {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>
