{% extends 'main.html' %}

{% block content %}
<head>
    <title>Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">
</head>

<body>
<div class="sidebar bar-block card" style="display:none" id="mySidebar">
    <button class="button large" onclick="close_sidebar()">Cerrar</button>
    <div class="admin" id="admin">
        <div class="conversation-container">
            <a id="usuarios" href="{{ url_for('admin.main_administration') }}" class="button sidebar-link">Usuarios</a>
        </div>
        <div class="conversation-container">
            <a id="roles" href="{{ url_for('admin.main_administration_role') }}" class="button sidebar-link">Roles</a>
        </div>
        <div class="conversation-container">
            <a id="permissions" href="{{ url_for('admin.main_administration_permission') }}" class="button sidebar-link">Permisos</a>
        </div>
    </div>
</div>
<div id="main">
    <div class="teal">
        <button id="openNav" class="button xlarge" onclick="open_sidebar()">&#9776;</button>
        <!-- The Modal -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="container-small" id="container-small">
                    <!-- Acá se carga el contenido del modal -->
                </div>
            </div>
        </div>
    </div>
    {% block admin_content  %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='scripts/common_script.js') }}"></script>
</body>
{% endblock %}
