body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

.logout {
    background-color: #f0ad4e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #ec971f;
}

main {
    padding: 20px;
}


.sidebar {
    height: 80%;
    width: 200px;
    background-color: #f0f0f0;
    position: fixed;
    z-index: 1;
    overflow: auto;
}


.bar-block {
    display: block;
}

.bar-block button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0;
    background-color: #012E66;
    color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.sidebar button:hover {
    background-color: #0049a3;
}

.bar-block a.button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


.bar-block a.button:hover {
    background-color: #ddd;
    color: #000;
}

.bar-block.button:active {
    background-color: #ccc;
    color: #000;
}

.bar-block.button:focus {
    outline: none;
    box-shadow: 0 0 5px #aaa;
}

.conversation-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.sidebar-link {
    flex-grow: 1;
    width: 100%;
    margin: 10px;
    padding: 10px 15px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border: none;
    border-right: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-link:hover {
    background-color: #ddd;
    color: #000;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: white;
    margin-bottom: 20px;
}

.animate-left {
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from { left: -300px; opacity: 0 }
    to { left: 0; opacity: 1 }
}

.teal {
    background-color: #f1f1f1;
}

.teal button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #012E66;
    transition: background-color 0.3s ease;
}

.teal button:hover {
    background-color: #0049a3;
}

.xlarge {
    font-size: 24px;
}

.large {
    font-size: 20px;
}

.main,#main{transition:margin-left .4s}


.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spinner {
    border: 4px solid #3498db;
    border-top: 4px solid #1100ff;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
