{% extends 'main.html' %}

{% block content %}
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_style.css') }}">
</head>

<body>
    <div class="sidebar bar-block card animate-left" style="display:none" id="mySidebar">
        <button class="button large" onclick="close_sidebar()">Cerrar</button>
        <div id="conversations">
            <div id="loading-spinner-sidebar" class="loading-spinner" style="display: block;"></div>
                <div class="spinner"></div>
            </div>
            <!-- Aquí se mostrarán las conversaciones -->
        </div>
    </div>

    <div id="main">
        <div id="modal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="container-small" id="container-small">
                    <span id="x" class="modal-button">x</span>
                    <div class="welcome-column">
                        <h2>Calificar conversación</h2>
                    </div>
                    <div class="star-wrap">
                        <input class="star" checked type="radio" value="-1" id="skip-star" name="star-radio" autocomplete="off" />
                        <label class="star-label hidden"></label>
                        <input class="star" type="radio" id="st-1" value="1" name="star-radio-" autocomplete="off"/>
                        <label class="star-label" for="st-1">
                            <div class="star-shape"></div>
                        </label>
                        <input class="star" type="radio" id="st-2" value="2" name="star-radio" autocomplete="off" />
                        <label class="star-label" for="st-2">
                            <div class="star-shape"></div>
                        </label>
                        <input class="star" type="radio" id="st-3" value="3" name="star-radio" autocomplete="off" />
                        <label class="star-label" for="st-3">
                            <div class="star-shape"></div>
                        </label>
                        <input class="star" type="radio" id="st-4" value="4" name="star-radio" autocomplete="off" />
                        <label class="star-label" for="st-4">
                            <div class="star-shape"></div>
                        </label>
                        <input class="star" type="radio" id="st-5" value="5" name="star-radio" autocomplete="off" />
                        <label class="star-label" for="st-5">
                            <div class="star-shape"></div>
                        </label>
                    </div>

                    <br>
                    <label for="1" id="label1">1. ¿El chatbot respondió adecuadamente a tus preguntas?</label><br>
                    <input id="1" class="modal-input" type="text" required>
                    
                    
                    <br>
                    <label for="2" id="label2">2. ¿Cómo calificarías la velocidad de las respuestas del chatbot?</label><br>
                    <input id="2" class="modal-input" type="text" required>
                
                
                    <br>
                    <label for="3" id="label3">3. ¿Consideras que el chatbot debería ser más conciso en sus respuestas?</label><br>
                    <input id="3" class="modal-input" type="text" required>
                
                
                    <br>
                    <label for="4" id="label4">4. ¿Hubo algún tema con el que el chatbot tuvo dificultades para proporcionar información? Si es así, ¿cuál fue?</label><br>
                    <input id="4" class="modal-input" type="text" required>
                
                
                    <br>
                    <label for="5" id="label5">5. ¿Qué funcionalidad adicional te gustaría agregar para mejorar las conversaciones con el chatbot?</label><br>
                    <input id="5" class="modal-input" type="text" required>

                    <br>
                    <label for="6" id="label6">6. Comentarios adicionales.</label><br>
                    <input id="6" class="modal-input" type="text" required><br>

                    <button id="metric-send" class="orange-button" type="submit">Enviar</button>
                    
                </div>
            </div>
        </div>

        <div class="teal">
            <button id="openNav" class="button xlarge" onclick="open_sidebar();loadConversations()">&#9776;</button>
        </div>
        
        <div class="container">
            <div id="loading-spinner-conversation" class="loading-spinner" style="display: block;">
                <div class="spinner"></div>
            </div>
            <div class="chat-messages" id="chat-messages">
                
                <!-- Aquí se mostrarán los mensajes -->
            </div>
            <div class="chat-input">
                <form id="form" method="post">
                    <input type="text" id="message" name="message" placeholder="Escribe tu mensaje..." required>
                    <button id="submit-chat-button" class="button" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        const sendMessageUrl = "{{ url_for('chatbot.send_message') }}";
        const getMessagesUrl = "{{ url_for('chatbot.get_messages') }}";
        const getConversationsUrl = "{{ url_for('chatbot.get_conversations') }}";
        const setConversationsUrl = "{{ url_for('chatbot.set_conversation') }}";
        const downloadFileUrl = "{{ url_for('chatbot.download_file') }}";
        const changeNameUrl = "{{ url_for('chatbot.change_conversation_name') }}"
        const checkFileUrl = "{{ url_for('chatbot.check_file') }}"
        const sendMetricUrl = "{{ url_for('metric.send_metric') }}"
    </script>
    <script src="{{ url_for('static', filename='scripts/chat_script.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/common_script.js') }}"></script>
</body>

</html>
{% endblock %}