<div id="flash-message" class="flash-message"></div>

<script>
    function fetchFlashMessages() {
        fetch("{{ url_for('get_flash_messages') }}")
            .then(response => response.json())
            .then(messages => {
                if (messages.length > 0) {
                    const flashMessage = document.getElementById('flash-message');
                    const lastMessage = messages[messages.length - 1];
                    const category = lastMessage[0];
                    const message = lastMessage[1];

                    flashMessage.innerHTML = message;
                    flashMessage.className = 'flash-message';
                    flashMessage.classList.add(category, 'show');

                    
                    setTimeout(() => {
                        flashMessage.classList.remove('show');
                    }, 5000);
                }
            });
    }

    setInterval(fetchFlashMessages, 1000);
</script>
