<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_style.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">

            <div class="user-info">
                <span>¡Hola, {{name}} {{lastname}}!   {{user_type}}</span>
            </div>
            <nav>
                    <a href="{{ url_for('auth.home') }}">Inicio</a>
                {% if chat %}
                    <a href="{{ url_for('chatbot.main_chat') }}">Chat</a>
                {% endif %}
                {% if conversations %}
                    <a href="{{ url_for('conv.main_conversations') }}">Conversaciones</a>
                {% endif %}
                {% if metrics %}
                    <a href="{{ url_for('metric.main_metrics') }}">Métricas</a>
                {% endif %}
                {% if admin %}
                    <a href="{{ url_for('admin.main_administration') }}">Administración</a>
                {% endif %}
            </nav>
            <form action="{{ url_for('auth.logout') }}" method="get" style="display: inline;">
                <button type="submit" class="logout">Cerrar sesión</button>
            </form>
        </div>
    </header>
    {% include 'flash_messages.html' %}
    {% block content %}{% endblock %}
</body>
</html>
